body {
	background-color: lightslategray;
	color: black;
	font-family: "Courier New", Courier, monospace;
	font-size: 16px;
	line-height: 1.6em;
	margin: 0;
}

.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

#mainHeader {
	background-color: grey;
	color: black;
}

#navbar {
	background-color: darkgrey;
}
#navbar ul {
	padding: 0;
	list-style: none;
}
#navbar li {
	display: inline;
}
#navbar a {
	color: black;
	text-decoration: none;
	font-size: 18px;
	padding-right: 15px;
}

#section1 {
	margin: 50px 0px 0px 100px;
}

#markTable {
	padding-right: 50px;
	margin-top: 25px;
}
#markTable th {
	padding-right: 50px;
	background: lightgrey;
}

#markTable tr {
	background: lightgray;
}
.td {
	margin: 5px 5px;
	box-sizing: border-box;
	border: lightblue;
	border-radius: 50px;
	padding: 5px;
}

.buttons {
	background-color: lightblue;
	margin-top: 10px;
	border: none;
	text-decoration: none;
	border-style: none;
	padding: 10px;
	font-family: "Courier New", Courier, monospace;
}

.wantedMark {
	background-color: lightcyan;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: none;
	font-family: "Courier New", Courier, monospace;
}

#showMark {
	margin-top: 20px;
}

#showMarkBox {
	padding: 10px;
	background-color: lightgray;
	width: 500px;
	height: 200px;
}

#mainFooter {
	background: #333;
	color: #fff;
	text-align: center;
	padding: 20px;
	margin-top: 500px;
}
